<div class="col-md-6">
  <div class="form-group">
    <label for="account-pass">New Password</label>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Enter your new password"%>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <label for="account-confirm-pass">Confirm Password</label>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm your password" %>
  </div>
</div>