  <body>
    <!-- Off-Canvas Menu-->
    <div class="offcanvas-container is-triggered offcanvas-container-reverse" id="mobile-menu"><span class="offcanvas-close"><i class="fe-icon-x"></i></span>
      <div class="px-4 pb-4">
        <h6>Menu</h6>
        <div class="d-flex justify-content-between pt-2">
          <div class="btn-group w-100 mr-2"><a class="btn btn-secondary btn-sm btn-block dropdown-toggle" href="#" data-toggle="dropdown"><img src="img/flags/en.png" alt="English"/>English</a>
            <div class="dropdown-menu" style="min-width: 150px;"><a class="dropdown-item" href="#"><img src="img/flags/fr.png" alt="Français"/>Français</a><a class="dropdown-item" href="#"><img src="img/flags/de.png" alt="Deutsch"/>Deutsch</a><a class="dropdown-item" href="#"><img src="img/flags/it.png" alt="Italiano"/>Italiano</a></div>
          </div><a class="btn btn-primary btn-sm btn-block" href="account-login.html"><i class="fe-icon-user"></i>&nbsp;Login</a>
        </div>
      </div>
      <div class="offcanvas-scrollable-area border-top" style="height:calc(100% - 235px); top: 144px;">
        <!-- Mobile Menu-->
        <div class="accordion mobile-menu" id="accordion-menu">
          <!-- Home-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="index.html">Home</a><a class="collapsed" href="#home-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="home-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header"><i class="fe-icon-briefcase"></i>&nbsp;&nbsp;Portfolio</li>
                  <li class="dropdown-item"><a href="home-digital-agency.html">Digital Agency</a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Architectural Agency<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a href="home-freelancer-portfolio.html">Freelancer's Portfolio</a></li>
                  <li class="dropdown-item"><a href="home-photographer-portfolio.html">Photographer's Portfolio</a></li>
                  <li class="dropdown-header"><i class="fe-icon-shopping-bag"></i>&nbsp;&nbsp;E-Commerce</li>
                  <li class="dropdown-item"><a href="home-shop-v1.html">Online Shop v.1</a></li>
                  <li class="dropdown-item"><a href="home-shop-v2.html">Online Shop v.2</a></li>
                  <li class="dropdown-header"><i class="fe-icon-edit"></i>&nbsp;&nbsp;Blog</li>
                  <li class="dropdown-item"><a href="home-corporate-blog.html">Corporate Blog</a></li>
                  <li class="dropdown-item"><a href="home-personal-blog.html">Personal Blog</a></li>
                  <li class="dropdown-header"><i class="fe-icon-home"></i>&nbsp;&nbsp;Landing Pages</li>
                  <li class="dropdown-item"><a href="home-mobile-app-showcase.html">Mobile App Showcase</a></li>
                  <li class="dropdown-item"><a href="home-web-app-showcase.html">Web App Showcase (SAAS)</a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Product Promo Page<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a href="home-conference-landing.html">Conference Landing</a></li>
                  <li class="dropdown-header"><i class="fe-icon-dollar-sign"></i>&nbsp;&nbsp;Business</li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Corporate Website<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a href="home-marketing-seo.html">Digital Marketing &amp; SEO</a></li>
                  <li class="dropdown-item"><a href="home-capital-investments.html">Venture Capital Investments</a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Startup Homepage<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-header"><i class="fe-icon-menu"></i>&nbsp;&nbsp;Directory &amp; Listings</li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Real Estate Listing<span class="badge badge-secondary">Soon</span></a></li>
                  <li class="dropdown-item"><a class="disabled-link" href="#">Jobs Board<span class="badge badge-secondary">Soon</span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Portfolio-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="portfolio-style1-boxed.html">Portfolio</a><a class="collapsed" href="#portfolio-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="portfolio-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item"><a href="portfolio-style1-boxed.html">Style 1 Grid</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="portfolio-style1-boxed.html">Style 1 Boxed Layout</a></li>
                      <li class="dropdown-item"><a href="portfolio-style1-fw.html">Style 1 Full Width Layout</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="portfolio-style2-boxed.html">Style 2 Grid</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="portfolio-style2-boxed.html">Style 2 Boxed Layout</a></li>
                      <li class="dropdown-item"><a href="portfolio-style2-fw.html">Style 2 Full Width Layout</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="portfolio-single-side-gallery-grid.html">Single Project</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="portfolio-single-side-gallery-grid.html">Side Gallery Grid</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-side-gallery-list.html">Side Gallery List</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-wide-slider.html">Wide Slider</a></li>
                      <li class="dropdown-item"><a href="portfolio-single-wide-gallery.html">Wide Gallery</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Blog-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="blog-grid-rs.html">Blog</a><a class="collapsed" href="#blog-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="blog-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header">Blog Layouts</li>
                  <li class="dropdown-item"><a href="blog-grid-rs.html">Grid Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="blog-grid-ls.html">Grid Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="blog-grid-ns.html">Grid No Sidebar</a></li>
                  <li class="dropdown-header">Single Post Formats</li>
                  <li class="dropdown-item"><a href="blog-single-gallery.html">Post Gallery</a></li>
                  <li class="dropdown-item"><a href="blog-single-carousel.html">Post Image Carousel</a></li>
                  <li class="dropdown-item"><a href="blog-single-video.html">Post Video</a></li>
                  <li class="dropdown-item"><a href="blog-single-audio.html">Post Audio</a></li>
                  <li class="dropdown-item"><a href="blog-single-quotation.html">Post Quotation</a></li>
                  <li class="dropdown-item"><a href="blog-single-link.html">Post Link</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Shop-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="shop-boxed-ls.html">Shop</a><a class="collapsed" href="#shop-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="shop-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-header">Shop Layouts</li>
                  <li class="dropdown-item"><a href="shop-boxed-ls.html">Boxed Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-boxed-rs.html">Boxed Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-boxed-ft.html">Boxed Filters Top</a></li>
                  <li class="dropdown-item"><a href="shop-boxed-ns.html">Boxed No Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-fw-ls.html">Full Width Left Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-fw-rs.html">Full Width Right Sidebar</a></li>
                  <li class="dropdown-item"><a href="shop-fw-ft.html">Full Width Filters Top</a></li>
                  <li class="dropdown-item"><a href="shop-fw-ns.html">Full Width No Sidebar</a></li>
                  <li class="dropdown-header">Shop Pages</li>
                  <li class="dropdown-item"><a href="shop-categories.html">Shop Categories</a></li>
                  <li class="dropdown-item"><a href="shop-single.html">Product Page</a></li>
                  <li class="dropdown-item"><a href="cart.html">Cart</a></li>
                  <li class="dropdown-item"><a href="checkout-address.html">Checkout - Address</a></li>
                  <li class="dropdown-item"><a href="checkout-shipping.html">Checkout - Shipping</a></li>
                  <li class="dropdown-item"><a href="checkout-payment.html">Checkout - Payment</a></li>
                  <li class="dropdown-item"><a href="checkout-review.html">Checkout - Review</a></li>
                  <li class="dropdown-item"><a href="checkout-complete.html">Checkout - Complete</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Account-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="account-orders.html">Account</a><a class="collapsed" href="#account-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="account-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item"><a href="account-login.html">Login / Register</a></li>
                  <li class="dropdown-item"><a href="account-password-recovery.html">Password Recovery</a></li>
                  <li class="dropdown-item"><a href="account-orders.html">Orders List</a></li>
                  <li class="dropdown-item"><a href="account-profile.html">Profile Settings</a></li>
                  <li class="dropdown-item"><a href="account-address.html">Contact / Shipping Address</a></li>
                  <li class="dropdown-item"><a href="account-wishlist.html">Wishlist</a></li>
                  <li class="dropdown-item"><a href="account-tickets.html">My Tickets</a></li>
                  <li class="dropdown-item"><a href="account-single-ticket.html">Single Ticket</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Pages-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link active" href="#">Pages</a><a class="collapsed" href="#pages-submenu" data-toggle="collapse"></a></div>
            <div class="collapse" id="pages-submenu" data-parent="#accordion-menu">
              <div class="card-body">
                <ul>
                  <li class="dropdown-item active"><a href="about-us-v1.html">About Us</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item active"><a href="about-us-v1.html">About Us v.1</a></li>
                      <li class="dropdown-item"><a href="about-us-v2.html">About Us v.2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="contacts-v1.html">Contacts</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="contacts-v1.html">Contacts v.1</a></li>
                      <li class="dropdown-item"><a href="contacts-v2.html">Contacts v.2</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="help-topics.html">Help Center</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="help-topics.html">Help Topics</a></li>
                      <li class="dropdown-item"><a href="help-single-topic.html">Single Topic</a></li>
                      <li class="dropdown-item"><a href="help-submit-request.html">Submit a Request</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="services.html">Services</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="services.html">Services Landing</a></li>
                      <li class="dropdown-item"><a href="services-single.html">Single Service Page</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="pricing.html">Pricing</a></li>
                  <li class="dropdown-item"><a href="product-comparison.html">Product Comparison</a></li>
                  <li class="dropdown-item"><a href="order-tracking.html">Order Tracking</a></li>
                  <li class="dropdown-item"><a href="search-results.html">Search Results</a></li>
                  <li class="dropdown-item"><a href="coming-soon-light.html">Coming Soon</a>
                    <ul class="mobile-sublevel">
                      <li class="dropdown-item"><a href="coming-soon-light.html">Coming Soon Light</a></li>
                      <li class="dropdown-item"><a href="coming-soon-dark.html">Coming Soon Dark</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-item"><a href="404.html">404 Not Found</a></li>
                  <li class="dropdown-item"><a class="text-accent" href="docs/dev-setup.html"><i class="d-inline-block fe-icon-file-text align-middle mr-1"></i>Documentation</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Components-->
          <div class="card">
            <div class="card-header"><a class="mobile-menu-link" href="components.html">Components</a></div>
          </div>
        </div>
      </div>
      <div class="offcanvas-footer px-4 pt-3 pb-2 text-center"><a class="social-btn sb-style-3 sb-twitter" href="#"><i class="socicon-twitter"></i></a><a class="social-btn sb-style-3 sb-facebook" href="#"><i class="socicon-facebook"></i></a><a class="social-btn sb-style-3 sb-pinterest" href="#"><i class="socicon-pinterest"></i></a><a class="social-btn sb-style-3 sb-instagram" href="#"><i class="socicon-instagram"></i></a></div>
    </div>
    <!-- Off-Canvas Shopping Cart-->
    <div class="offcanvas-container is-triggered offcanvas-container-reverse" id="shopping-cart"><span class="offcanvas-close"><i class="fe-icon-x"></i></span>
      <div class="px-4">
        <h6>Your Cart</h6>
        <div class="widget widget-cart pt-2"><a class="featured-product" href="shop-single.html">
            <div class="featured-product-thumb"><img src="img/widgets/cart/01.jpg" alt="Product Image"/>
            </div>
            <div class="featured-product-info">
              <h5 class="featured-product-title">Samsung Galaxy S9 Plus</h5><span class="featured-product-price">1x $839.99</span>
            </div><span class="remove-product"><i class="fe-icon-x"></i></span></a><a class="featured-product" href="shop-single.html">
            <div class="featured-product-thumb"><img src="img/widgets/cart/02.jpg" alt="Product Image"/>
            </div>
            <div class="featured-product-info">
              <h5 class="featured-product-title">Samsung Gear 360 Camera</h5><span class="featured-product-price">1 x $68.00</span>
            </div><span class="remove-product"><i class="fe-icon-x"></i></span></a><a class="featured-product" href="shop-single.html">
            <div class="featured-product-thumb"><img src="img/widgets/cart/03.jpg" alt="Product Image"/>
            </div>
            <div class="featured-product-info">
              <h5 class="featured-product-title">Edifier W855BT Bluetooth</h5><span class="featured-product-price">1 x $99.85</span>
            </div><span class="remove-product"><i class="fe-icon-x"></i></span></a>
          <hr class="mt-3 mb-3"><span class="text-sm text-muted">Subtotal:&nbsp;</span><strong>$1,007.84</strong>
          <div class="d-flex justify-content-between pt-3"><a class="btn btn-primary btn-block btn-sm mr-2" href="cart.html">View Cart</a><a class="btn btn-accent btn-block mt-0 btn-sm" href="checkout-address.html">Checkout</a></div>
        </div>
      </div>
    </div>
   
    <!-- Page Content-->
    <!-- Team-->
    <section class="container pb-5">
      <h2 class="h3 block-title text-center mb-4">Meet Our Team<small>People behind your great experience</small></h2>
      <div class="row">
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><img src="https://media.licdn.com/dms/image/C5103AQHBxfuhaRx2NA/profile-displayphoto-shrink_100_100/0?e=1557360000&v=beta&t=NmhZbCN4CH6uKxLFn3bSx1J2MKePn5DqCO44IsZN9cU" alt="Team Member Picture"/>
              </div>
             <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-facebook" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+19871625346"><i class="fe-icon-phone"></i>&nbsp;+1 (987) 162 53 46</a><a class="team-contact-link" href="mailto:Gerard.Goachet@kittens.com"><i class="fe-icon-mail"></i>&nbsp;Gerard.Goachet@kittens.com</a>
            </div><span class="team-position">Lead Programmer</span>
            <h4 class="team-name">Gerard Goachet</h4>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><img src="https://media.licdn.com/dms/image/C4E03AQElQn0WfFcdDA/profile-displayphoto-shrink_100_100/0?e=1557360000&v=beta&t=qbCJHrw6wak9jMJ2xWiCS3POz67nNqwHzdq_gAW9640" alt="Team Member Picture"/>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-facebook" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+57872336590"><i class="fe-icon-phone"></i>&nbsp;+5 (787) 233 65 90</a><a class="team-contact-link" href="mailto:Selmen.Mhamdi@kittens.com"><i class="fe-icon-mail"></i>&nbsp;Selmen.Mhamdi@kittens.com</a>
            </div><span class="team-position">Marketing Manager</span>
            <h4 class="team-name">Selmen MHAMDI</h4>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><img src="https://media.licdn.com/dms/image/C4E03AQH-BQbs5t_b7g/profile-displayphoto-shrink_100_100/0?e=1557360000&v=beta&t=fvy-zLz-9D77NhmFHt-aJogynYnV90mpL714GF_RuHI" alt="Team Member Picture"/>
              </div>
             <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-facebook" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+13907765843"><i class="fe-icon-phone"></i>&nbsp;+1 (390) 776 58 43</a><a class="team-contact-link" href="mailto:Guillaume.Christe@kittens.com"><i class="fe-icon-mail"></i>&nbsp;Guillaume.Christe@kittens.com</a>
            </div><span class="team-position">Graphic Designer</span>
            <h4 class="team-name">Guillaume CHRISTE</h4>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/43167124_10215248739403387_5281831195846377472_n.jpg?_nc_cat=109&_nc_ht=scontent-cdt1-1.xx&oh=afcbb8e899024dbd9a8f3dc4da464e64&oe=5CE3C60E" alt="Team Member Picture"/>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-facebook" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+72056557984"><i class="fe-icon-phone"></i>&nbsp;+7 (205) 655 79 84</a><a class="team-contact-link" href="mailto:Lauren.Olivier@kittens.com"><i class="fe-icon-mail"></i>&nbsp;Lauren.Olivier@kittens.com</a>
            </div><span class="team-position">CEO, Co-Founder</span>
            <h4 class="team-name">Lauren OLIVIER</h4>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us CTA-->
    <section class="bg-gradient py-4">
      <div class="container position-relative bg-no-repeat bg-center py-5 text-center" style="background-image: url(img/pages/dotted-map.png);">
        <h2 class="block-title text-white mt-5 mb-4">Let's Connect<small class="text-white">Share your ideas with us and we do our best to turn your ideas into reality.</small></h2><a class="btn btn-light mb-5" href="<%= contacts_path %>">Contact Us</a>
      </div>
    </section>