  <body>
    <!-- Page Content-->
    <!-- Team-->
    <section class="container pb-5">
      <h2 class="h3 block-title text-center mb-4">Meet Our Team<small>People behind your great experience</small></h2>
      <div class="row">
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><img src="https://media.licdn.com/dms/image/C5103AQHBxfuhaRx2NA/profile-displayphoto-shrink_100_100/0?e=1557360000&v=beta&t=NmhZbCN4CH6uKxLFn3bSx1J2MKePn5DqCO44IsZN9cU" alt="Team Member Picture"/>
              </div>
             <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-facebook" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+19871625346"><i class="fe-icon-phone"></i>&nbsp;+1 (987) 162 53 46</a><a class="team-contact-link" href="mailto:Gerard.Goachet@kittens.com"><i class="fe-icon-mail"></i>&nbsp;Gerard.Goachet@kittens.com</a>
            </div><span class="team-position">Lead Programmer</span>
            <h4 class="team-name">Gerard Goachet</h4>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><img src="https://media.licdn.com/dms/image/C4E03AQElQn0WfFcdDA/profile-displayphoto-shrink_100_100/0?e=1557360000&v=beta&t=qbCJHrw6wak9jMJ2xWiCS3POz67nNqwHzdq_gAW9640" alt="Team Member Picture"/>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-facebook" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+57872336590"><i class="fe-icon-phone"></i>&nbsp;+5 (787) 233 65 90</a><a class="team-contact-link" href="mailto:Selmen.Mhamdi@kittens.com"><i class="fe-icon-mail"></i>&nbsp;Selmen.Mhamdi@kittens.com</a>
            </div><span class="team-position">Marketing Manager</span>
            <h4 class="team-name">Selmen MHAMDI</h4>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><img src="https://media.licdn.com/dms/image/C4E03AQH-BQbs5t_b7g/profile-displayphoto-shrink_100_100/0?e=1557360000&v=beta&t=fvy-zLz-9D77NhmFHt-aJogynYnV90mpL714GF_RuHI" alt="Team Member Picture"/>
              </div>
             <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-facebook" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+13907765843"><i class="fe-icon-phone"></i>&nbsp;+1 (390) 776 58 43</a><a class="team-contact-link" href="mailto:Guillaume.Christe@kittens.com"><i class="fe-icon-mail"></i>&nbsp;Guillaume.Christe@kittens.com</a>
            </div><span class="team-position">Graphic Designer</span>
            <h4 class="team-name">Guillaume CHRISTE</h4>
          </div>
        </div>
        <!-- Team member-->
        <div class="col-lg-3 col-sm-6">
          <div class="team-card-style-1 mx-auto">
            <div class="team-card-inner">
              <div class="team-thumb"><img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/43167124_10215248739403387_5281831195846377472_n.jpg?_nc_cat=109&_nc_ht=scontent-cdt1-1.xx&oh=afcbb8e899024dbd9a8f3dc4da464e64&oe=5CE3C60E" alt="Team Member Picture"/>
              </div>
              <div class="team-social-bar text-center"><a class="social-btn sb-style-4 sb-facebook" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-4 sb-twitter" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-4 sb-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a><a class="social-btn sb-style-4 sb-linkedin" href="#"><i class="fab fa-linkedin-in"></i></a></div><a class="team-contact-link" href="tel:+72056557984"><i class="fe-icon-phone"></i>&nbsp;+7 (205) 655 79 84</a><a class="team-contact-link" href="mailto:Lauren.Olivier@kittens.com"><i class="fe-icon-mail"></i>&nbsp;Lauren.Olivier@kittens.com</a>
            </div><span class="team-position">CEO, Co-Founder</span>
            <h4 class="team-name">Lauren OLIVIER</h4>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Us CTA-->
    <section class="bg-gradient py-4">
      <div class="container position-relative bg-no-repeat bg-center py-5 text-center" style="background-image: url(img/pages/dotted-map.png);">
        <h2 class="block-title text-white mt-5 mb-4">Let's Connect<small class="text-white">Share your ideas with us and we do our best to turn your ideas into reality.</small></h2><a class="btn btn-light mb-5" href="<%= contacts_path %>">Contact Us</a>
      </div>
    </section>