<div class="container py-5 mb-4 text-center">
  <h1 class="display-404">500</h1>
  <h2 class="h3">Error with server</h2>
  <p class="text-muted">Something went wrong with the connection.<a href="<%= root_path %>" class='font-weight-medium'>Go Back To Homepage</a></p>
</div>