<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.first_name %> !</h1>
    <p>Vous venez de réaliser un achat sur <%= @url %>.</p>
    <p>Voici les URLs des images que vous venez d'acquérir :</p>
    <% items = Item.all.where(id: @cart.item_id) %>
    <% items.each do |element| %>
    <ul>
        <li><%= element.url %></li>
    </ul>
    <% end %>
    <p> À très vite sur <%= @url %> !
  </body>
</html>