/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require theme.min
 *= require vendor.min
 */

 .iziToast.iziToast-color-red {
	background: white;
	border-color: #ff5252;
}

 .iziToast.iziToast-color-orange {
	background: white;
	border-color: #fc8c3a;
}

 .iziToast.iziToast-color-blue {
	background: white;
	border-color: #5695fe;
}

 .iziToast.iziToast-color-green {
	background: white;
	border-color: #33cb81;
}

 .iziToast-red {
	color: #ff5252 !important;
}

 .iziToast-orange {
	color: #fc8c3a !important;
}

 .iziToast-blue {
	color: #5695fe !important;
}

 .iziToast-green {
	color: #33cb81 !important;
}

.btn-popup{
	background-color: white !important;
    border: none;
    outline:none;
    cursor:pointer;
}
.btn-popup:hover .btn-popup:active .btn-popup:focus {
	background-color: white !important;
    border: none;
    outline: none !important;
}
button:focus { outline: none; }