<!-- Footer-->
    <footer class="bg-dark pt-5">
      <!-- First Row-->
      <div class="container pt-2">
        <div class="row">
          <!-- Shop Departments-->
          <div class="col-lg-6">
            <div class="widget widget-light-skin mb-0">
              <h4 class="widget-title">Shop departments</h4>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="widget widget-categories widget-light-skin">
                  <ul>
                    <li><a href="#">Computers &amp; Accessories</a></li>
                    <li><a href="#">Smartphones &amp; Tablets</a></li>
                    <li><a href="#">TV, Video &amp; Audio</a></li>
                    <li><a href="#">Cameras, Photo &amp; Video</a></li>
                    <li><a href="#">Headphones</a></li>
                    <li><a href="#">Wearable Electroinics</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="widget widget-categories widget-light-skin">
                  <ul>
                    <li><a href="#">Printers &amp; Ink</a></li>
                    <li><a href="#">Video Games</a></li>
                    <li><a href="#">Car Electronics</a></li>
                    <li><a href="#">Smart Home, IoT</a></li>
                    <li><a href="#">Musical Instruments</a></li>
                    <li><a href="#">Software</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- About Links-->
          <div class="col-lg-3 col-sm-6">
            <div class="widget widget-categories widget-light-skin">
              <h4 class="widget-title">About us</h4>
              <ul>
                <li><a href="#">Careers</a></li>
                <li><a href="#">About CreateX</a></li>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Our Blog</a></li>
                <li><a href="#">Contacts</a></li>
              </ul>
            </div>
          </div>
          <!-- Account Links-->
          <div class="col-lg-3 col-sm-6">
            <div class="widget widget-categories widget-light-skin">
              <h4 class="widget-title">Account &amp; Shipping Info</h4>
              <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Shipping Rates &amp; Policies</a></li>
                <li><a href="#">Refunds &amp; Replacements</a></li>
                <li><a href="#">Taxes</a></li>
                <li><a href="#">Delivery Info</a></li>
                <li><a href="#">Affiliate Program</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Second Row-->
      <div class="pt-5" style="background-color: #30363d;">
        <div class="container">
          <div class="row">
            <!-- Contacts-->
            <div class="col-lg-3 col-sm-6">
              <div class="widget widget-contacts widget-light-skin mb-4">
                <h4 class="widget-title">Get in touch with us</h4>
                <ul>
                  <li><i class="fas fa-map-marker-alt"></i><span>Find us</span><a href="#">1260 Broadway, New York</a></li>
                  <li><i class="fas fa-phone"></i><span>Call us</span><a href="tel:00180039025">001 800 390 25</a></li>
                  <li><i class="far fa-envelope"></i><span>Write us</span><a href="mailto:info@example.com">info@example.com</a></li>
                </ul>
              </div>
              <div class="widget pt-2"><a class="social-btn sb-style-6 sb-facebook sb-light-skin" href="#"><i class="fab fa-facebook-f"></i></a><a class="social-btn sb-style-6 sb-twitter sb-light-skin" href="#"><i class="fab fa-twitter"></i></a><a class="social-btn sb-style-6 sb-youtube sb-light-skin" href="#"><i class="fab fa-youtube"></i></a><a class="social-btn sb-style-6 sb-instagram sb-light-skin" href="#"><i class="fab fa-instagram"></i></a><a class="social-btn sb-style-6 sb-pinterest sb-light-skin" href="#"><i class="fab fa-pinterest-p"></i></a></div>
            </div>
            <!-- Mobile App-->
            <div class="col-lg-3 col-sm-6">
              <div class="widget widget-light-skin">
                <h4 class="widget-title">Our mobile app</h4><a class="market-btn apple-btn market-btn-light-skin mr-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">App Store</span></a><a class="market-btn google-btn market-btn-light-skin mr-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Google Play</span></a><a class="market-btn windows-btn market-btn-light-skin mr-3 mb-3" href="#"><span class="mb-subtitle">Download on the</span><span class="mb-title">Windows Store</span></a><a class="market-btn amazon-btn market-btn-light-skin mr-3 mb-3" href="#"><span class="mb-subtitle">Order now at</span><span class="mb-title">Amazon.com</span></a>
              </div>
            </div>
            <!-- Subscription-->
            <div class="col-lg-6">
              <div class="widget widget-light-skin">
                <h4 class="widget-title">Be informed</h4>
                <form action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126" method="post" target="_blank" novalidate>
                  <div class="input-group">
                    <input class="form-control form-control-light-skin" type="email" name="EMAIL" placeholder="Email address">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Sign Up</button>
                    </div>
                  </div><small class="form-text text-white opacity-50 pt-1">Subscribe to our Newsletter to receive early discount offers, latest news, sales and promo information.</small>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1">
                  </div>
                </form>
                <div class="pt-4 mt-2"><img class="d-block" src="img/credit-cards-footer.png" style="width: 324px;" alt="Credit Cards"></div>
              </div>
            </div>
          </div>
          <hr class="hr-light">
          <div class="d-md-flex justify-content-between align-items-center py-4 text-center text-md-left">
            <div class="order-2"><a class="footer-link text-white" href="#">About</a><a class="footer-link text-white ml-3" href="#">Help &amp; Info</a><a class="footer-link text-white ml-3" href="#">Privacy Policy</a></div>
            <p class="m-0 text-sm text-white order-1"><span class='opacity-60'>© All rights reserved. Made with</span> <i class='d-inline-block align-middle fe-icon-heart text-danger'></i> <a href='http://createx.studio/' class='d-inline-block nav-link text-white opacity-60 p-0' target='_blank'>by Createx Studio</a></p>
          </div>
        </div>
      </div>
    </footer>